= form_for @spanish_word do |f|
  - if @spanish_word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@spanish_word.errors.count, "error")} prohibited this spanish_word from being saved:"
      %ul
        - @spanish_word.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :neutral
    = f.text_field :neutral
  .field
    = f.label :neutral_plural
    = f.text_field :neutral_plural
  .field
    = f.label :male
    = f.text_field :male
  .field
    = f.label :male_plural
    = f.text_field :male_plural
  .field
    = f.label :female
    = f.text_field :female
  .field
    = f.label :female_plural
    = f.text_field :female_plural
  .field
    = f.text_field :kind, hidden: true
  .field
    = f.text_field :english_word_id, hidden: true
  .actions
    = f.submit 'Save'
