= form_for @english_word do |f|
  - if @english_word.errors.any?
    #error_explanation
      %h2= "#{pluralize(@english_word.errors.count, "error")} prohibited this english_word from being saved:"
      %ul
        - @english_word.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :neutral
    = f.text_field :neutral
  .field
    = f.label :neutral_plural
    = f.text_field :neutral_plural
  .field
    = f.label :male
    = f.text_field :male
  .field
    = f.label :male_plural
    = f.text_field :male_plural
  .field
    = f.label :female
    = f.text_field :female
  .field
    = f.label :female_plural
    = f.text_field :female_plural
  .field
    = f.label :kind
    = f.select :kind, options_for_select([['Noun', 'noun'], ['Pronoun', 'pronoun'], ['Verb', 'verb'], ['Adjetive', 'adjetive'], ['Adverb', 'adverb'], ['Preposition', 'preposition'], ['Conjuntion', 'conjunton'], ['Interjection', 'interjection']])
  .actions
    = f.submit 'Save'
