%p#notice= notice

%p
	%b Neutral:
	= @english_word.neutral
%p
	%b Neutral Plural:
	= @english_word.neutral_plural
%p
	%b Male:
	= @english_word.male
%p
	%b Male PLural:
	= @english_word.male_plural
%p
	%b Female:
	= @english_word.female
%p
	%b Female Plural:
	= @english_word.female_plural
%p
	%b Kind:
	= @english_word.kind

- if @english_word.spanish_word.nil?
	%p
		%b Add spanish definition
		%br
		= link_to 'Add', new_spanish_word_path(id: @english_word)
- else
	%p
		%b Spanish definition
		%br
		= link_to 'Definition', spanish_word_path(@english_word.spanish_word)


= link_to 'Edit', edit_english_word_path(@english_word)
\|
= link_to 'Back', english_words_path
